<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2ABDE768-0D3E-4652-89DA-2D8B984C7F8A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>text</key>
			<string>Search Wiki for '{query}'</string>
			<key>url</key>
			<string>https://wiki.yojoe.local/dosearchsite.action?queryString={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4034FF47-EBE2-4810-9955-E460591675BC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>what</string>
			<key>text</key>
			<string>Search What for '{query}'</string>
			<key>url</key>
			<string>https://what.yojoe.local/terms/search?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>523C8B61-02C2-4CC1-830B-10085782B4DF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bp</string>
			<key>text</key>
			<string>Search Bistre Production for '{query}'</string>
			<key>url</key>
			<string>https://bistre.palantircloud.com/workspace/compass/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>78215EEC-24F9-4C0B-856B-6879ECF9392C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search GitHub Enterprise for '{query}'</string>
			<key>url</key>
			<string>https://github.palantir.build/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B32DCF61-2E42-4189-8D41-FF13B2FF8481</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rtfm</string>
			<key>text</key>
			<string>Search RTFM for '{query}'</string>
			<key>url</key>
			<string>https://rtfm.palantir.build/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BDEDBCD1-C119-4FEF-AA98-F1AFDB06BA6E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ppl</string>
			<key>text</key>
			<string>Search People for '{query}'</string>
			<key>url</key>
			<string>https://people.yojoe.local/search?term={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
